vendor/
bin/
*.o
examples/*/check
examples/*/run
examples/diffusion3d/diffusion3d.c
examples/diffusion3d/diffusion3d.h
examples/maxwell3d/maxwell3d.c
examples/maxwell3d/maxwell3d.h
data/
examples/maxwell3d_yee/maxwell3d_yee.c
examples/maxwell3d_yee/maxwell3d_yee.h
figures/build/
figures/out/
examples/pearson3d/pearson3d.c
examples/pearson3d/pearson3d.h
examples/pearson3d/pearson_V.pgm
*.pgm
examples/burgers3d/burgers3d.c
examples/burgers3d/burgers3d.h
examples/cahnhilliard3d/cahnhilliard3d.c
examples/cahnhilliard3d/cahnhilliard3d.h
examples/tdgl3d/tdgl3d.c
examples/tdgl3d/tdgl3d.h
examples/mhd_ot/mhd_ot.c
examples/mhd_ot/mhd_ot.h
examples/elastic3d/elastic3d.c
examples/elastic3d/elastic3d.h
examples/metric_torus/metric_torus.c
examples/metric_torus/metric_torus.h
examples/kleingordon/kleingordon.c
examples/kleingordon/kleingordon.h
examples/shallowwater/shallowwater.c
examples/shallowwater/shallowwater.h
examples/lbm_d3q19/lbm_d3q19.c
examples/lbm_d3q19/lbm_d3q19.h
examples/acoustic3d/acoustic3d.c
examples/acoustic3d/acoustic3d.h
examples/euler_sod/euler_sod.c
examples/euler_sod/euler_sod.h
examples/ks3d/ks3d.c
examples/ks3d/ks3d.h
examples/highorder4/highorder4.c
examples/highorder4/highorder4.h
examples/dirichlet_diffusion/dirichlet_diffusion.c
examples/dirichlet_diffusion/dirichlet_diffusion.h
examples/*/viz
gallery/data/
