vendor/
bin/
*.o
examples/*/check
examples/*/run
examples/diffusion3d/diffusion3d.c
examples/diffusion3d/diffusion3d.h
examples/maxwell3d/maxwell3d.c
examples/maxwell3d/maxwell3d.h
data/
examples/maxwell3d_yee/maxwell3d_yee.c
examples/maxwell3d_yee/maxwell3d_yee.h
figures/build/
figures/out/
examples/pearson3d/pearson3d.c
examples/pearson3d/pearson3d.h
examples/pearson3d/pearson_V.pgm
*.pgm
